<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
      <h5> Average Rating <%= render 'avgstars', value: @product.average_rating.to_i %></h5>
        <span><%= @product.quantity %> in stock at </span>
        <span><%= humanized_money_with_symbol @product.price %></span>
      </div>
      <div>
        
      </div>
      <div class="price"> 
      
        <% unless @product.has_quantity? %>
        <div class="px-4 py-2 badge bg-danger align-items-center"><%= "Sold Out"%></div>
       
        <% else %>
          <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
            <%= fa_icon "shopping-cart", text: 'Add' %>
          <% end %>     
        <% end %>     
        </div>
      </div>
    </div>

    <div class="reviews-wrapper">
    <% if current_user %>
      <div class="reviews-form">
      <h3>Write a Review!</h3>
        <%= form_for [@product, @review] do |f| %>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :rating %>
            <%= f.select :rating, options_for_select(["1", "2", "3", "4", "5"]), class: 'form-control' %>
          </div>

          <%= f.submit 'Create Review', class: 'btn btn-primary' %>
        <% end %>
      </div>
      <% end %>
      <div class="reviews"> 
        <% @product.reviews.reverse.each do |review| %>
        <div class="card">
          <p>Rating <%= render 'avgstars', value: review.rating.to_i %> 
          <% if current_user ===  review.user %>
           <%= link_to fa_icon('trash'), [review.product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
           <% end %>
           </p>
          <p><%= review.description %></p>
          <p>by <%= review.user.first_name%> <%= review.user.last_name%> <%= review.created_at.strftime("%b %d, %Y") %></p>
        </div>
        <% end %>
      </div>
    </div>
  </article>

</section>
